# No database nor model - those are too big for github
# Running the code will produce them for you
CMV.db
winning-args-corpus/*
*/__pycache__/*

hypothesis_judgement/data.txt

private_/*

hypothesis_judgement/persuasion_classification/*